# Игнорировать IDE и системные файлы
.idea/
.vscode/
.DS_Store

# Игнорировать виртуальные окружения
venv/
env/

# Игнорировать временные файлы
*.log
*.tmp
*.swp
__pycache__/

# Игнорировать Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Игнорировать папки логов, данных и конфигураций
logs/
data/
config/
home_work_10/
home_work_14/
# Игнорировать лишние файлы проекта
*.iml
*.xml
*.out
*.class

docker-compose.yaml
home_work_14/requirements.txt
home_work_14/spark_dataframe_ht.ipynb